<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<main class="main">
  <div class="main-content responsive-wrapper">
    <article class="widget">
      <div class="captchaTitle">
				<h2>Captcha #2: Text</h2>
				<div class="progress">
					<button type="button" class="button-back" (click)="onBackClicked()">
						<i class="fa-solid fa-arrow-left"></i>
					</button>
					<h2>2/3</h2>
          <div *ngIf="isCaptcha2Passed()">
            <button type="button" class="button-back" (click)="onNextClicked()">
              <i class="fa-solid fa-arrow-right"></i>
            </button>
          </div>
        </div>
			</div>
      <p>Enter the characters you see and click submit.</p>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <form [formGroup]="textFormGroup" (ngSubmit)="onSubmit()">
              <div class="textRandomizer">
                <canvas #canvas width="230" height="60">
                  class="form-control-static">
                  {{ textFormGroup.get('randomAlphanumericText').value }}
                </canvas>
                <button type="button" class="button-re" (click)="onRefreshButtonClicked()">
                  <i class="fa-sharp fa-solid fa-rotate-right"></i>
                </button>
              </div>

              <div class="form-input">
                <input type="text" class="form-control"
                       formControlName="answer"
                       id="answer"
                       [maxlength]="8"
                       [disabled]="textValidated === false"
							          (keydown)="preventEnter($event)">
                <button type="submit" [disabled]="isSubmitted || !textFormGroup.get('answer').value" class="btn btn-primary">Submit</button>
              </div>
              <div *ngIf="textValidated === false">
                <p> Incorrect! Try again... </p>
                <button class="button-9" (click)="retry()">Try again</button>
              </div>

              <div *ngIf="textValidated === true">
              <p> Correct! Let's move on </p>
              <div class="buttons">
                <button class="button-9" (click)="retry()">Redo Challenge</button>
                <button class="button-9" (click)="onNextClicked()">Next</button>
              </div>
              </div>

            </form>
          </div>
        </div>
      </div>
      <p></p>
    </article>
  </div>
</main>
