<app-header></app-header>

<!-- Switch based on the value of 'view' -->
<ng-container [ngSwitch]="view">
  <!-- Home View -->
  <app-home *ngSwitchCase="'home'"
            (clickedBeginButton)="onBeginButtonClicked($event)">
  </app-home>
  
  <!-- Captcha View -->
  <app-captcha *ngSwitchCase="'captcha'"
               (resultClicked)="handleResultClicked2($event)">
  </app-captcha>
  
  <!-- Result View -->
  <app-result *ngSwitchCase="'result'"
              (clickedRestartButton)="handleRestartButton($event)">
  </app-result>
</ng-container>
