.equation {
  display: flex;
  z-index: 10;
  justify-content: center; 
  align-items: center;    
  width: 100%;
  white-space: nowrap; 
}

.form-input {
  display: flex;
  z-index: 10;
  align-items: center;
  width: 100%;
  overflow: hidden;
}