/* GRID CONTAINER */

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px; 
  border-radius: 6px;
  margin-bottom: 30px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #cccccc;
  padding: 10px;
  border-radius: 6px;
}

.grid-item img {
  width: 100px; 
  height: 100px; 
  object-fit: cover; 
}

/* ON SELECTED GRID ITEM */

.selected {
  border-color: #28a745;
}

/* SUBMIT BUTTON ONLY FOR IMAGE */
.submit-button-container {
  display: flex;
  justify-content: center;
}
