<!-- Content -->
<main class="main">
	<div class="main-content responsive-wrapper">
		<article class="widget">
			<h2>Hi there, CAPTCHA adventurer! 🎉</h2>
			<p>Ready to prove your humanness? Dive into our 3-level CAPTCHA quest: tackle math, decipher text, and select images.</p>
			<p>You gotta ace each level to unlock the next. But here's the perk: Once you conquer a stage, you can always revisit for a nostalgic trip.</p>
			<p>And if you accidentally hit that refresh button? Don't worry! Your progress is safe with us. </p>
			<p></p>
            <button class="button-9" (click)="onBegin()">Begin</button>
		</article>
    </div>  
</main>